#body {
  background: #fff;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

